@import url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff); 

*{ 
    margin: 0;
    padding: 0;
}

body {
    font-family: Pretendard,'Noto Sans KR', sans-serif;
}

a{
    text-decoration: none;
    color:black;
}

li{
    list-style: none;
}

.menu{
    width:1500px;
    height: 50px;
    outline: 1px dotted red;
    float: left;
}
.menu ul{
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
}
.menu ul li{
    float: left;
width: 25%;
height: 50px;
line-height: 50px;
text-align: center;
background: #98E0AD;
}
.menu ul li a{
    display: block;
}
.menu ul li a:hover{
    background: #138535;
    color: #fff;
}